include LICENSE.txt
recursive-include aldryn_twitter/templates *
recursive-include aldryn_twitter/static *
recursive-include aldryn_twitter/locale *
recursive-include aldryn_twitter/migrations *
recursive-exclude * *.pyc
